<!-- 
# -*- coding: utf-8 -*-
# @Author:  Nitesh Sharma
# @Date:   2016-03-14
# @Last Modified by:   Nitesh Sharma
# @Last Modified time: 2016-03-29 07:17:50
# @@GPLv3 License
# @https://github.com/sinscary
-->



{% extends "layout.html" %}

{% block content %}

	<div class="row techs">
		<center>
			<br><br>
			<h5>Technologies Used</h5>
		</center>
	</div>
	<div class="row api">
		<center>
			<br><br>
			<h5>Full Featured Rest API coming soon</h5>
		</center>
	</div>

	<div class="row container">
  		<div class="row team">
			<h1>Team</h1>
		<div class="row">
			<img src="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-xat1/v/t1.0-9/11222797_517639878394995_8112606643229611466_n.jpg?oh=779a726c9be864e3d311e6a552f67e20&oe=5784F5DE&__gda__=1467709185_2dbec3fafbae659faede017c404c5e78" class="image-style right wow slideInLeft" data-wow-duration="1500ms" data-wow-delay="300ms"> <h5 class="right wow slideInLeft" data-wow-duration="1500ms" data-wow-delay="300ms" style="margin-right:20px">Nitesh Sharma&nbsp &nbsp</h5>
		</div>
		<div class="row">
			<img src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xlp1/v/t1.0-9/10849878_1063870803638841_9058671876251875369_n.jpg?oh=1e43f95d315e9f927508983f84b8f97b&oe=5782CA38&__gda__=1471475757_1a32e9fafe9807f6fe98765e9e6cdff7" class="image-style left wow slideInRight" data-wow-duration="1500ms" data-wow-delay="300ms"> <h5 class="col s3 wow slideInRight" data-wow-duration="1500ms" data-wow-delay="300ms" style="margin-left:20px">Tasdik Rahman</h5>
		</div>
		</div>
  	</div>

{% endblock %}