{% extends "layout.html" %}

{% block content %}
	<div class="row">
	    <form class="col s12">
	      	<div class="row contents" id="addcard">
	        	<div class="input-field col s12 m12 l6 wow slideInLeft" data-wow-duration="2000ms" data-wow-delay="500ms">
	          		<textarea id="textarea1" class="materialize-textarea"></textarea>
	          		<label for="textarea1" class="black-text">Enter Text to check for Spam/Ham</label>
	          		<a class="btn waves-effect waves-light btn-sbmt col s4 offset-s4" id="Submit" type="submit">Classify
				    	<i class="material-icons right">send</i>
				  	</a>
	        	</div>
	        	
	      	</div>
	    </form>
  	</div>
{% endblock %}